body{
    background-color: #aaa;
}
#yin-yang{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#000000 51%,#000000 100%);
    border-color: #000;
    border-radius: 50%;
    position: relative;
    margin:100px auto 40px;
    animation: spin 4s infinite linear;
}
#yin-yang::before{
    content: '';
    width:100px;
    height:100px;
    background: radial-gradient(ellipse at center, #ffffff 0%,#ffffff 20%,#000000 20%,#000000 100%); 
   border-radius: 50%;
    position:absolute;
    top:25%;
    left:0;
 }
 #yin-yang::after{
    content: '';
    width:100px;
    height:100px;
    background: radial-gradient(ellipse at center, #000000 0%,#000000 20%,#ffffff 20%,#ffffff 100%); 
   border-radius: 50%;
    position:absolute;
    top:25%;
    right:0;
 }
 @keyframes spin{
     0%{ transform: rotate(0deg); }
     100%{ transform: rotate(360deg); }
 }
p{
    color: #fff;
    text-align: center;
}